<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BE-TRANSSE Analytics</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" id = "Top-title"href="/">BE-TRANSSE Analytics</a>

                <a class="navbar-brand hidden" href="./"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">路線バス運行実績データ検索</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart-o"></i>日別実績</a>
                        <ul class="sub-menu children dropdown-menu">
                          <li><a href="/Aggregate_Day1">日別系統別実績</a></li>
                          <li><a href="/Aggregate_Day2">日別路線別実績</a></li>
                          <li><a href="/Aggregate_Day3">日別路線時間帯別実績</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar"></i>月別実績</a>
                        <ul class="sub-menu children dropdown-menu">
                          <li><a href="/Aggregate_Month1">月別系統別実績</a></li>
                          <li><a href="/Aggregate_Month2">月別路線別実績</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">帳票メニュー</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-clipboard"></i>月次帳票</a>
                        <ul class="sub-menu children dropdown-menu">
                          <li><a href="/Report_Monthly1">日別時間帯別実績</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <!-- floatの都合上残す -->
                    <div class="header-left">

                    </div>
                </div>

                <div class="col-sm-5">
                    <a class="nav-link float-right" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>各線営業実績一覧(定期外輸送実績)</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">前日運行分まで</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">

            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Success</span><%=dash.date%>の集計処理が完了しました。
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="col-sm-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                 <li class="nav-item">
                     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">平和交通</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">あすか交通</a>
                 </li>
             </ul>
            </div>

            <div class="tab-content pl-3 p-1" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="col-md-12">
                    <h4></h4><br>
                    <h5>路線別輸送人員（表示は直近日実績　グラフは直近7日間推移）</h5>
                  </div>
                  <!--グラフ描画　-->
                  <% for(i=0 ; i<=dash.grh1.length-1;i++){　%>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-flat-color-1">
                            <div class="card-body pb-0">
                                <h4 class="mb-0">
                                    <span class="count"><%= dash.grh1[i].capcnt.toLocaleString() %>人</span>
                                </h4>
                                <p class="text-light"><%= dash.grh1[i].route_name %></p>
                                <div class="chart-wrapper px-0" style="height:100px;" height="70">
                                    <canvas id=<%=dash.grh1[i].id%>></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                  <% } %>
                  <div class="col-md-12">
                    <h5 >路線別売上（表示は直近日実績　グラフは直近7日間推移）</h5>
                  </div>
                  <% for(i=0 ; i<=dash.grh1.length-1;i++){　%>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-flat-color-5">
                            <div class="card-body pb-0">
                                <h4 class="mb-0">
                                    <span class="count">\<%= dash.grh3[i].capcnt.toLocaleString() %></span>
                                </h4>
                                <p class="text-light"><%= dash.grh3[i].route_name %></p>
                                <div class="chart-wrapper px-0" style="height:100px;" height="70">
                                    <canvas id=<%=dash.grh3[i].id%>></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                  <% } %>

                  <div class="col-xl-6">
                      <div class="card">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <h4 class="card-title mb-0">全線売上実績（当月分）</h4>
                                      <div class="small text-muted"><%= dash.grh2.month%></div>
                                  </div>
                                  <!--/.col-->
                                  <!--/.col-->
                              </div>
                              <!--/.row-->
                              <div class="chart-wrapper mt-4">
                                  <canvas id="trafficChart" style="height:200px;" height="200"></canvas>
                              </div>
                          </div>
                          <div class="card-footer">
                              <ul>
                                  <li>
                                      <div class="text-muted">ICカード</div>
                                      <strong><%= dash.grh2.dataIcamount.toLocaleString()%> 円 (　<%=dash.grh2.ic_hiritsu%> % )</strong>
                                      <div class="progress progress-xs mt-2" style="height: 5px;">
                                          <div class="progress-bar bg-success" role="progressbar" style="width: <%=dash.grh2.ic_hiritsu%>%;" aria-valuenow="<%=dash.grh2.ic_hiritsu%>" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </li>
                                  <li class="hidden-sm-down">
                                      <div class="text-muted">現金</div>
                                      <strong><%= dash.grh2.dataCashamount.toLocaleString()%> 円 (　<%=dash.grh2.Cash_hiritsu%> % )</strong>
                                      <div class="progress progress-xs mt-2" style="height: 5px;">
                                          <div class="progress-bar bg-info" role="progressbar" style="width: <%=dash.grh2.Cash_hiritsu%>%;" aria-valuenow="<%=dash.grh2.Cash_hiritsu%>" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="col-xl-3 col-lg-6">
                      <div class="card">
                          <div class="card-body">
                              <div class="stat-widget-one">
                                  <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                  <div class="stat-content dib">
                                      <div class="stat-text">前日売上金額（全線）</div>
                                      <div class="stat-digit"><%=dash.TotalProfit1.toLocaleString()%></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-xl-3 col-lg-6">
                      <div class="card">
                          <div class="card-body">
                              <div class="stat-widget-one">
                                  <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                                  <div class="stat-content dib">
                                      <div class="stat-text">前日乗車人員（全線）</div>
                                      <div class="stat-digit"><%=dash.TotalCustomer1.toLocaleString()%></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <!-- あすか交通分描画-->
                  <div class="col-md-12">
                    <h4></h4><br>
                    <h5>路線別輸送人員（表示は直近日実績　グラフは直近7日間推移）</h5>
                  </div>
                  <!--グラフ描画　-->

                  <div class="col-md-12">
                    <h5>路線別売上（表示は直近日実績　グラフは直近7日間推移）</h5>
                  </div>

                  <div class="col-xl-3 col-lg-6">
                      <div class="card">
                          <div class="card-body">
                              <div class="stat-widget-one">
                                  <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                  <div class="stat-content dib">
                                      <div class="stat-text">前日売上金額（全線）</div>
                                      <div class="stat-digit"><%=dash.TotalProfit2.toLocaleString()%></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-xl-3 col-lg-6">
                      <div class="card">
                          <div class="card-body">
                              <div class="stat-widget-one">
                                  <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                                  <div class="stat-content dib">
                                      <div class="stat-text">前日乗車人員（全線）</div>
                                      <div class="stat-digit"><%=dash.TotalCustomer2.toLocaleString()%></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="vendors/chart.js/dist/Chart.bundle.min.js"></script>

    <script>
    //WidgetChart
    grh1 = <%-JSON.stringify(dash.grh1)%>;
    grh2 = <%-JSON.stringify(dash.grh2)%>;
    grh3 = <%-JSON.stringify(dash.grh3)%>;
    </script>
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/widgets.js"></script>

    <script src="vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
